#searchbox 
{
    display: block;
    width: 25%;
    margin: 0 auto;
    font-size: 2em;
    height: 2.3em;
    border: 2px solid darkgray;
    border-radius: 10px;
}

path.link {
    stroke: blue;
    fill: none;
    stroke-width: 2px;
}

circle.node {
    stroke: blue;
    fill: none;
}

#canvas {
    display: block;
    margin: 0 auto;
}